<div class='container mt-5'>
  <div class='row'>
    <h2>注文履歴一覧</h2>
  </div>
  <div class="row mt-4">
    <div class="col">
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>購入日時</th>
              <th>購入者</th>
              <th>注文個数</th>
              <th>注文ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><!--購入日時（詳細リンク付き）が入る-->
                <%= link_to admin_order_path(order.id) do %><!--注文詳細リンク-->
                  <%= l order.created_at %><!--lメソッドで簡単に日時を表示-->
                <% end %>
              </td>
              <td><%= order.customer.first_name %><%= order.customer.first_last_name %></td><!--購入者-->
              <td><%= order.order_details.sum(:quantity) %></td><!--注文個数の合計-->
              <td><%= order.order_status_i18n %></td><!--注文ステータス。「i18n」は各言語に適したものに置き換えてる-->
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
  <div class="mt-5">
    <%= paginate @orders %>
  </div>
</div>