<div class="container mt-3">
  <div class="row">
          <%= form_with model: @delivery, url: delivery_addresses_path, method: :post do |f| %>
          <div class="px-2 py-4">
            <h4 class="bg-light">  配送先登録 / 一覧  </h4>
          </div>
            <table style="margin-bottom:40px">
              <tr>
               <td >郵便番号(ハイフンなし)    </td>
               <td><%= f.text_field :postal_code,required: true, placeholder: "0000000" %></td>
               <td colspan="1"></td>
              </tr>
              <tr>
               <td>住所</td>
               <td><%= f.text_field :address, size: "45x20",required: true, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
              </tr>
              <tr>
                <td>宛名</td>
                <td><%= f.text_field :addressee,required: true, placeholder: "令和道子" %></td>
                <td class="text-right">
                  <%= f.submit '新規登録', class:"btn btn-success" %>
                </td>
              </tr>
            </table>
          <% end %>
  </div>

  <div class="row">
      <div class="col-12">
         <table class="table-bordered bg-light">

             <thead>
              <tr>
               <th class="col-2 px-1 border-dark">郵便番号</th>
               <th class="col-5 px-1 border-dark">住所</th>
               <th class="col-2 px-1 border-dark">宛名</th>
               <th class="col-6 px-1 border-dark"></th>
              </tr>
             </thead>
           <% @deliveries.each do |delivery| %>
             <tbody>
               <tr>
                <td><%= delivery.postal_code %>　</td>
                <td><%= delivery.address %>　</td>
                <td><%= delivery.addressee %>　</td>
                <td>
                  <p>
                  <%= link_to "編集する", edit_delivery_address_path(delivery.id), class: "btn btn-success" %>
                  <%= link_to '削除する', delivery_address_path(delivery.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
                  </p>
                </td>
               </tr>
             </tbody>
           <% end %>
         </table>
      </div>
  </div>
</div>
