<%= render :layout => '/admin/shared/section_layout', :locals => {:title => '商品一覧'} do %>
  <div class="row text-right m-3">
    <%= link_to "+", new_admin_product_path, class: "btn btn-lg rounded-circle text-right bg-light ml-auto shadow-sm" %>
  </div>
  <table class="table">
  <thead class="thead-lignt bg-light">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, admin_product_path(product.id) %></td>
        <td><%= product.tax_excluded_price.to_s(:delimited)%></td>
        <td><%= product.genre.name %></td>
        <td>
          <% if product.is_active == true %>
            <p class="text-success font-weight-bold">販売中</p>
          <% else %>
            <p class="text-muted">販売停止中</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
