<h4>注文情報確認</h4>

<table class="table">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td><%= cart_item.item.name %></td>
    <td><%= (cart_item.item.price).to_s(:delimited) %></td>
    <td><%= cart_item.quantity %></td>
    <td><%= (cart_item.price*cart_item.quantity).to_s(:delimited) %></td>
  </tr>
  <% end %>
</table>

<table class="table">
  <tr>
    <td>送料</td>
    <td><%= @order.shipping_fee %></td>
    <td>商品合計</td>
    <td><%= @total.to_s(:delimited) %></td>
    <td>請求金額</td>
    <td><%= number_to_delimited(@total.to_s + @order.shipping_fee) %></td>
  </tr>
</table>

  <div><strong>支払方法</strong></div>
　　<% if @order.payment_method == Order.payment_methods.key(0) %>
    クレジットカード
    <% elsif @order.payment_method == Order.payment_methods.key(1) %>
    銀行振込
    <% end %>

  <div><strong>お届け先</strong></div>
    <%=  '〒' + @order.shipping_postal_code + @order.shipping_address%>
    <%= @order.shipping_name%>