<h4>注文履歴詳細</h4>

<h4>注文情報</h4>
<table class="table">
  <tr>
    <th>注文日</th>
    <td><%= l @order.created_at, format: :short %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
      <%= '〒' + @order.shipping_postal_code%><br>
      <%= @order.shipping_address%>
    </td>
    <th>支払方法</th>
    <td>
      <% if @order.payment_method == Order.payment_methods.key(0) %>
      <%= Order.payment_methods_i18n[:credit_card] %>
      <% elsif @order.payment_method == Order.payment_methods.key(1) %>
      <%= Order.payment_methods_i18n[:transfer] %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td>
      <% if @order.order_status == Order.order_statuses.key(0) %>
        <%= Order.order_statuses_i18n[:waiting_for_payment] %>
      <% elsif @order.order_status == Order.order_statuses.key(1) %>
        <%= Order.order_statuses_i18n[:payment_confirmation] %>
      <% elsif @order.order_status == Order.order_statuses.key(2) %>
        <%= Order.order_statuses_i18n[:now_at_work] %>
      <% elsif @order.order_status == Order.order_statuses.key(3) %>
        <%= Order.order_statuses_i18n[:shipping_preparation] %>
      <% elsif @order.order_status == Order.order_statuses.key(4) %>
        <%= Order.order_statuses_i18n[:sent] %>
      <% end %>
    </td>
  </tr>
</table>

<h4>請求情報</h4>
<table class="table">
  <tr>
    <th>請求情報</th>
    <td><%= (@order.total_bill_amount - @order.shipping_fee).to_s(:delimited)  %></td>
  </tr>
  <tr>
    <th>配送料</th>
    <td><%= @order.shipping_fee.to_s(:delimited) %></td>
  </tr>
  <tr>
    <th>ご請求額</th>
    <td><%= @order.total_bill_amount.to_s(:delimited) %></td>
  </tr>
</table>
<table class="table">
  <tr>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
  <% @order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.product.name %></td>
      <td><%= order_detail.purchase_price.to_s(:delimited) %></td>
      <td><%= order_detail.quantity %></td>
      <td><%= (order_detail.purchase_price * order_detail.quantity).to_s(:delimited) %></td>
    </tr>
  <% end %>

</table>