<div class="container my-5 px-5 px-sm-0">
  <div class="row">
    <div class="col">
      <div class="row px-5 py-4">

        <h4 class="bg-light">注文履歴詳細</h4>
      </div>
      <div class="row">
      <div class="col-9">
      <h5><strong>注文情報</strong></h5>
      <table class="table">
        <tr>
          <td>注文日</td>
          <td><%= l @order.created_at, format: :short %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            <%= '〒' + @order.shipping_postal_code%><br>
            <%= @order.shipping_address%>
          </td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td>
            <% if @order.payment_method == Order.payment_methods.key(0) %>
            <%= Order.payment_methods_i18n[:credit_card] %>
            <% elsif @order.payment_method == Order.payment_methods.key(1) %>
            <%= Order.payment_methods_i18n[:transfer] %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td>
            <% if @order.order_status == Order.order_statuses.key(0) %>
              <%= Order.order_statuses_i18n[:waiting_for_payment] %>
            <% elsif @order.order_status == Order.order_statuses.key(1) %>
              <%= Order.order_statuses_i18n[:payment_confirmation] %>
            <% elsif @order.order_status == Order.order_statuses.key(2) %>
              <%= Order.order_statuses_i18n[:now_at_work] %>
            <% elsif @order.order_status == Order.order_statuses.key(3) %>
              <%= Order.order_statuses_i18n[:shipping_preparation] %>
            <% elsif @order.order_status == Order.order_statuses.key(4) %>
              <%= Order.order_statuses_i18n[:sent] %>
            <% end %>
          </td>
        </tr>
      </table>
</div>
<div class="col-3">
      <h5><strong>請求情報</strong></h5>
      <table class="table">
        <tr>
          <td>請求情報</td>
          <td><%= (@order.total_bill_amount - @order.shipping_fee).to_s(:delimited)  %></td>
        </tr>
        <tr>
          <td>配送料</td>
          <td><%= @order.shipping_fee.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>ご請求額</th>
          <td><%= @order.total_bill_amount.to_s(:delimited) %></td>
        </tr>
      </table>
      </div>
      </div>
      <h5><strong>注文内容</strong></h5>

      <table class="table">
        <tr>
          <td>商品</td>
          <td>単価（税込）</td>
          <td>個数</td>
          <td>小計</td>
        </tr>
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.product.name %></td>
            <td><%= order_detail.purchase_price.to_s(:delimited) %></td>
            <td><%= order_detail.quantity %></td>
            <td><%= (order_detail.purchase_price * order_detail.quantity).to_s(:delimited) %></td>
          </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>