<div class='container mt-5'>
  <div class='row'>
    <h2>ログイン</h2>
  </div>
  <div class="container text-center mt-4">
    <p>
      <b class="font-weihgt-bold">会員の方はこちらからログイン</b>
    </p>
  </div>
  
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <div class="row">
      <span>メールアドレス</span><br>
      <span class="col">
        <% f.label :email,"メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"sample@example.com",class: "form-control w-100" %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <span>パスワード</span><br>
      <span class="col">
        <% f.label :password,"パスワード" %>
        <%= f.password_field :password, autocomplete: "new-password",class: "form-control w-100" %>
      </span>
    </div>
  </div>

  <%# if devise_mapping.rememberable? %>
    <!--<div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    <!--</div>-->
  <%# end %>

  <div class="container text-center mt-4">
    <%= f.submit "ログイン", class: 'btn btn-outline-success' %>
  </div>
<% end %>
  <div class="container text-center mt-4">
    <div>
      <b class="font-weihgt-bold">会員登録がお済みでない方</b>
      <br>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>